<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Photomap</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/users">Discover <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link disabled" href="#">
        <% if logged_in? %>
        Hello! <%= link_to current_user.name, user_path(current_user), {:class =>"nav-item nav-link"}%>
        <%= link_to('Logout', logout_path, {method: 'delete', :class =>"nav-item nav-link"})%>
     
        <% else %>
          <a class="nav-item nav-link" href="/users/new">Sign up with email</a>

	        <%= link_to("Login", new_session_path, {:class =>"nav-item nav-link"}) %>
        <% end %>
      </a>
    </div>
  </div>
</nav>