<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h2>My Photo Map Click Photo to see the details</h2>

<div>
    <%= link_to("Add picture", new_user_picture_path(current_user))%>
</div>
