<div>
<h1 class="lead" style="font-size: 50px; top: 30%; left: 10%; position: fixed;"><img src="https://photos-3.dropbox.com/t/2/AAAhK_jJ574StYk4-8pUqW3O-YBqy69JSc4E_G5-yGlyAg/12/547986549/png/32x32/1/_/1/2/photomap%20logo03-02.png/EIW9zrEEGM1HIAIoAg/LEM7jTd7FQ2oKc8wOUopt00t6KKyvZ_3SYlXkOKsdTQ?preserve_transparency=1&size=2048x1536&size_mode=3" width="60" height="60" alt="" style="vertical-align: text-bottom;">Exploring the world in one place...</h1>
</div>
<div class="container-fluid" class="img-fluid" alt="Responsive image" style="opacity: 0.6;">
<%= link_to image_tag('https://i.imgur.com/sdXPtfb.jpg', height: 'auto', width: '100%',), users_path %>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
