<div>
<h1 class="lead" style="font-size: 50px; top: 30%; left: 10%; position: fixed;"><img src="/photomap-logo.png" width="60" height="60" alt="" style="vertical-align: text-bottom;">Exploring the world in one place...</h1>
</div>
<div class="container-fluid" class="img-fluid" alt="Responsive image" style="opacity: 0.6;">
<%= link_to image_tag('https://i.imgur.com/sdXPtfb.jpg', height: 'auto', width: '100%',), users_path %>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
